
.vs/betterKao2/v15/Server/sqlite3/db.lock
.vs/betterKao2/v15/Server/sqlite3/storage.ide
.vs/betterKao2/v15/Server/sqlite3/storage.ide-shm
.vs/betterKao2/v15/Server/sqlite3/storage.ide-wal
betterKao2/obj/Debug/betterKao2.csproj.CoreCompileInputs.cache
betterKao2/obj/Debug/betterKao2.csprojAssemblyReference.cache
betterKao2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
betterKao2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
betterKao2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
betterKao2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
betterKao2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
betterKao2/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
betterKao2/obj/Release/betterKao2.csproj.CoreCompileInputs.cache
betterKao2/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
betterKao2/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
betterKao2/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
betterKao2/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
.vs/betterKao2/v15/.suo
betterKao2/betterKao2.csproj
betterKao2/bin/Release/betterKao2.exe
betterKao2/bin/Release/betterKao2.exe.config
betterKao2/bin/Release/betterKao2.pdb
betterKao2/obj/Release/betterKao2.csproj.FileListAbsolute.txt
betterKao2/obj/Release/betterKao2.csproj.GenerateResource.cache
betterKao2/obj/Release/betterKao2.exe
betterKao2/obj/Release/betterKao2.Main.resources
betterKao2/obj/Release/betterKao2.pdb
betterKao2/obj/Release/betterKao2.Properties.Resources.resources
*.cache
